In [2]:
import pandas as pd


members_118 = pd.read_csv('Raw/H118_members.csv')
votes_118 = pd.read_csv('Raw/H118_votes.csv')

members_118['icpsr'] = members_118['icpsr'].astype('Int64')
votes_118['icpsr'] = votes_118['icpsr'].astype('Int64')

merged_118 = votes_118.merge(members_118, on='icpsr')

In [3]:
merged_118 = merged_118[["icpsr", "state_abbrev", "party_code", "cast_code", "rollnumber", "nominate_dim1", "nominate_dim2"]]

In [4]:
merged_118

,icpsr,state_abbrev,party_code,cast_code,rollnumber,nominate_dim1,nominate_dim2
0,14854,KY,200,6,1,0.333,0.152
1,14854,KY,200,6,2,0.333,0.152
2,14854,KY,200,6,3,0.333,0.152
3,14854,KY,200,6,4,0.333,0.152
4,14854,KY,200,6,5,0.333,0.152
...,...,...,...,...,...,...,...
537138,22383,WI,200,1,1231,0.357,-0.303
537139,22383,WI,200,1,1232,0.357,-0.303
537140,22383,WI,200,1,1233,0.357,-0.303
537141,22383,WI,200,1,1234,0.357,-0.303
537142,22383,WI,200,1,1235,0.357,-0.303

In [39]:
merged_118["cast_code"] = merged_118["cast_code"].apply(lambda x: 1 if 1 <= x <= 3 else (2 if 4 <= x <= 6 else x))

In [40]:
merged_118

,icpsr,state_abbrev,party_code,cast_code,rollnumber,nominate_dim1,nominate_dim2
0,14854,KY,200,2,1,0.333,0.152
1,14854,KY,200,2,2,0.333,0.152
2,14854,KY,200,2,3,0.333,0.152
3,14854,KY,200,2,4,0.333,0.152
4,14854,KY,200,2,5,0.333,0.152
...,...,...,...,...,...,...,...
537138,22383,WI,200,1,1231,0.357,-0.303
537139,22383,WI,200,1,1232,0.357,-0.303
537140,22383,WI,200,1,1233,0.357,-0.303
537141,22383,WI,200,1,1234,0.357,-0.303
537142,22383,WI,200,1,1235,0.357,-0.303

In [41]:
merged_118 = merged_118.drop(merged_118[merged_118["cast_code"]== 7].index)
merged_118 = merged_118.drop(merged_118[merged_118["cast_code"]== 9].index)

In [42]:
merged_118.to_csv("filtered_USA_votes.csv")